body {
    font-family: monospace;
}
h2 {
    font-size: 24px;
}
a {
    display: block;
    font-size: 20px;
    padding: 10px;
	margin: 10px 0;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
/* Smartphones (portrait) ----------- */
@media only screen and (orientation : portrait) {
    body {
        
        
    }
}
